.budgetOverlay{
    position:fixed;
    z-index: 1001;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.365);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.budgetModal {
    height: 400px;
    width: 580px;
    border-radius: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.topText{
    position:relative;
    bottom:20px;
    font-size: 50px;
    font-weight:normal
}

.inputText{
    text-align: center;
    margin-bottom: 60px;
    height: 80px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 40px;
}

.inputText:focus{
    outline:none
}

.inputButton {
    height: 100px;
    width: 300px;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 20px;
    background: rgb(86, 213, 255);
    color: white;
    font-family: Georgia;
    border-radius: 10px
}