.categoriesPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriesPanel {
  width: calc(100vw - 400px);
  max-width: 1200px;
  height: 72vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  margin-left: 260px;
}
