.uploadOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.uploadModal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 400px;
}

.uploadButton {
  background: rgb(86, 213, 255);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(55, 55, 55, 0.8);
}

.uploadButton:hover {
  background: rgb(126, 223, 255);
}

.uploadMessage {
  margin-top: 20px;
  font-size: 14px;
}

.duplicateMessage{
    font-weight: normal;
    font-size:22px;
    margin-top: -20px;
}

.customFileUpload {
  background: rgb(86, 213, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid rgba(106, 106, 106, 0.735);
  font-family: Georgia;
  font-size: 20px;
  cursor: pointer;
  margin: 20px auto;
  transition: 0.2s ease-in-out;
  display: block;
}
.customFileUpload:hover { background: rgb(126, 223, 255); transform: scale(1.03); }

.fileName {
  text-align: center;
  margin-top: -10px;
  color: #444;
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

