.leftSideBar {
    overflow: auto;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    width:400px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    left:80px;
    border-radius: 50px;
    box-shadow: 0 0 60px 0 rgba(44, 44, 44, 0.152);
    z-index:1000;

}

.leftBarHead {
    font-family: Courier;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
}

.leftDivider{
    width: 85%;
    height: 6px;
    border-radius: 9999px;
    background: rgba(54, 54, 54, 0.579);
    position:relative;
    bottom: 20px;
    right:-30px;
}

.budgetButton{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 30px;
    background: var(--BudgetBackColor);
    width: 300px;
    height: 100px;
    border:none;
    left:50%;
    top:110px;
    transform: translate(-50%,0);
}
.budgetButton:hover{
    background: var(--budgetHover);
}

.catButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 30px;
    background: var(--CategoriesBackColor);
    width: 300px;
    height: 100px;
    border:none;
    left:50%;
    top:220px;
    transform: translate(-50%,0);
}
.catButton:hover{
    background: var(--catHover);
}