.loginOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.loginModal {
  background: white;
  width: 400px;
  border-radius: 40px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  position: relative;
}

.loginTitle {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.loginDivider {
  width: 100%;
  height: 4px;
  background: gray;
  border-radius: 2px;
  margin: 10px 0 30px 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginForm input {
  font-size: 18px;
  padding: 12px 15px;
  border: 2px solid rgba(106, 106, 106, 0.6);
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease;
}

.loginForm input:focus {
  border-color: rgb(60, 154, 208);
  box-shadow: 0 0 5px rgba(46, 142, 227, 0.4);
}

.loginButton {
  background: rgb(86, 213, 255);
  color: white;
  font-family: Georgia;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  border: 2px solid rgba(55, 55, 55, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.loginButton:hover {
  background: rgb(126, 223, 255);
  transform: scale(1.03);
}

.changeSign {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: -10px;
    text-decoration: underline;
    color: rgb(64, 107, 201);
    background: none;
    border:none;
}

.changeSign:hover {
    color: rgb(42, 70, 130);
}

.noAcc{
    font-size: 15px;
    color: gray;
    margin-top:15px;
    margin-bottom:0px;
}